.tabs {
  display: flex;
  width: 50vw;
  justify-content: space-between;
}
.tabs .tab {
  cursor: pointer;
  /* border: seagreen dashed 1px; */
}

.active {
  color: #6B63FF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ant-layout-header {
  color: #fff !important;
}

.ant-btn {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 60px!important;
  padding: 4px 15px;
  font-size: 24px!important;
  border-radius: 2px;
  margin-right: 10px;
}

.link-button {
  margin-top: 50px;
  border: 0px!important;
  text-align: left!important;
  height: 32px!important;
  font-size: 24px!important;
  box-shadow: none!important;
  color: #6B63FF!important;
  text-decoration: underline;
  cursor: pointer;
}

.ant-layout-content {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  line-height: 50px;
  background: #fff;
}

.ant-layout-footer {
  position: absolute;
  width: 100vw;
  bottom: 0;
}
.question-list {
  max-width: 100vw;
  max-height: 90vh;
}
.overflow-hidden {
  overflow: hidden;
}

.questions {
  width: 50%;
}

.questions div button {
  width: 40%;
}

.question {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}
.question p {
  font-size: 36px;
  margin-bottom: 0.2em;
}
.ant-button {
  background-color: #001529;
}
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

small {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  padding-top: 20px;
  margin-top: 20px;
  height: 50px;
  width: 50vw;
  /* paddingTop: theme.spacing(1) + 4,
    marginTop: theme.spacing(1),
    border: "solid",
    borderRadius: theme.spacing(1) / 2,
    borderColor: "#dadaed",
    borderWidth: 0.5,
    paddingLeft: theme.spacing(1),
    paddingRight: theme.spacing(1),
    "&:focus": {
      boxShadow: `${fade(theme.palette.primary.main, 0.25)} 0 0 0 0.2rem`,
      borderColor: theme.palette.primary.main,
    }, */
}

/* Language: css */
/* sticky header */
.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

.sticky-header + .content {
  margin-top: 50px;
}

/* display: flex; */
.flex {
  display: flex;
}

/* container */
.container {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.back-container { 
  margin-left: 10%;
  margin-right: 10%;
}

/* space-between */
.justify-space-between {
  display: flex;
  justify-content: space-between;
}

b {
  display: block;
}

.checked-list {
  list-style: none;
}

.checked-list li:before {
  content: "✓";
  width: 15px;
  height: 10px;
  margin-right: 5px;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
}

.left {
  flex-basis: 50%;
}

.right {
  flex-basis: 50%;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
  text-align: center;
  justify-content: center;
}
.section {
  margin-top: 50px;
  margin-bottom: 10px;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.vh-90 {
  height: 90vh;
}

.interview {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 50%;
}

.allergies {
  line-height: 30px !important;
  align-items: flex-start;
  width: 50%;
  text-align: left;
  margin-top: 10%;
}
.allergies h2,
small {
  margin: 0;
  padding: 0;
}

.allergies .action {
  margin-top: 10px;
}
.chips {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}
.chip {
  display: flex;
  margin: 5px 5px 0 0;
  border: 1px solid gray;
  border-radius: 20px;
  justify-content: space-between;
  padding: 2px 2px 2px 4px;
  background: #6b63ff;
  color: #fff;
  white-space: nowrap;
  width: auto;
}

.ant-input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 24px!important;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s;
}

.chip .allergy {
  margin-right: 5px;
}

.chip .close-button {
  border: 1px solid gray;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 0;
  background: #fff;
  color: #6b63ff;
  cursor: pointer;
}

.vh-50 {
  width: 50%;
}

.error-content {
  width: 50%;
  line-height: 30px;
}

.error-content p {
  padding: 0;
  margin: 0;
}

.error {
  color: #ff0000;
  padding: 0;
  margin: 0;
  font-size: 40px;
}

.error-message {
  color: #ff0000;
  line-height: 20px;
}

form {
  line-height: 30px;
}

.message-fl {
  color: #ff000090;
  margin-top: 10px;
  font-size: 16px;
}

.message-fl::before {
  content: "* ";
}

.logo-app {
  color: #fff;
}

.logo-app:hover {
  color: #fff;
}
.responsive {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 36px;
}

.helper-message {
  font-size: 16px !important;
  line-height: 16px;
  color: rgb(73, 77, 85);
  font-weight: 300;
  margin-bottom: 20px !important;
}

.m-t-10-px {
  margin-top: 10px;
}

.consent {
  width: 50%;
  margin-top: 10%;
}

.m-t-10-p {
  margin-top: 10%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .responsive {
    height: 100%;
    max-width: 90%;
  }
  .interview {
    display: none;
  }
  .questions, .allergies, .consent {
    width: 100%;
  }
  .question p {
    font-size: 28px;
    margin-bottom: 0.2em;
    text-align: justify;
  }
  .ant-checkbox-wrapper {
    line-height: inherit;
  }
  
}
