.tabs {
  display: flex;
  width: 50vw;
  justify-content: space-between;
}
.tabs .tab {
  cursor: pointer;
  /* border: seagreen dashed 1px; */
}

.active {
  color: seagreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ant-layout-header {
  color: #fff !important;
}
.ant-layout-content {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 50px;
  background: #fff;
}

.ant-layout-footer {
  position: absolute;
  width: 100vw;
  bottom: 0;
}

.question {
  border-style: dashed;
  border-color: #001529;
  border-width: 1px;
  margin-top: 24px;
  padding: 24px;
  min-width: 50vw;
  border-radius: 20px;
  color: #001529;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ant-button {
  background-color: #001529;
}
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

small {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    padding-top:20px;
    margin-top: 20px;
    height: 50px;
    width: 50vw;
    /* paddingTop: theme.spacing(1) + 4,
    marginTop: theme.spacing(1),
    border: "solid",
    borderRadius: theme.spacing(1) / 2,
    borderColor: "#dadaed",
    borderWidth: 0.5,
    paddingLeft: theme.spacing(1),
    paddingRight: theme.spacing(1),
    "&:focus": {
      boxShadow: `${fade(theme.palette.primary.main, 0.25)} 0 0 0 0.2rem`,
      borderColor: theme.palette.primary.main,
    }, */
}

/* Language: css */
/* sticky header */
.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFF;
  z-index: 1;
}

.sticky-header + .content{
  margin-top: 50px;
}

/* display: flex; */
.flex {
  display: flex;
}

/* container */
.container {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

/* space-between */
.justify-space-between {
  display: flex;
  justify-content: space-between;
}

b{
  display: block;
}

.checked-list {
    list-style: none;
}
  
.checked-list li:before {
    content: '✓';
    width: 15px;
    height: 10px;
    margin-right: 5px;
    color: #FFF;
    background-color: #000;
    border-radius: 50%;
}

.right {
  flex-basis: 50%;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
  text-align: center;
  justify-content: center;
}
.section {
  margin-top: 50px;
  margin-bottom: 10px;
}